# Executáveis
*.exe
ppmc

# Arquivos temporários gerados pelos scripts
temp.ppmc
temp.rar
temp.zip
temp.7z
temp.decomp
*.decomp

# Pastas de saída
out/
output/
compress/
descompress/
resultados/

# Arquivos de resultados (geralmente gerados localmente)
*.csv

# Arquivos de dados grandes que não devem estar no repositório
english_corpus.txt
silesia.zipenglish_corpus.txt
silesia.zip
